:root{

  --radius-sm:10px;
  --radius-md:16px;
  --radius-lg:22px;

  --transition:.3s ease;

  --bg:#F8FAFC;

  --surface:#FFFFFF;

  --surface-2:#F1F5F9;

  --text:#111827;

  --text-light:#64748B;

  --border:#E2E8F0;

}

[data-theme="dark"]{

  --bg:#0F172A;

  --surface:#1E293B;

  --surface-2:#334155;

  --text:#F8FAFC;

  --text-light:#CBD5E1;

  --border:#334155;

}