/* Scrollbar */
html{
    scroll-behavior:smooth;
}
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#FFF7ED;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #FB923C,
        #F97316
    );
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#EA580C;
}

*{
    scrollbar-width:thin;
    scrollbar-color:#F97316 #FFF7ED;
}